{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ question.score }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ question.category }}</td>
            </tr>
            <tr>
                <th>Difficultylevel</th>
                <td>{{ question.difficultylevel }}</td>
            </tr>
            <tr>
                <th>Option1</th>
                <td>{{ question.option1 }}</td>
            </tr>
            <tr>
                <th>Option2</th>
                <td>{{ question.option2 }}</td>
            </tr>
            <tr>
                <th>Option3</th>
                <td>{{ question.option3 }}</td>
            </tr>
            <tr>
                <th>Option4</th>
                <td>{{ question.option4 }}</td>
            </tr>
            <tr>
                <th>Question_title</th>
                <td>{{ question.questionTitle }}</td>
            </tr>
            <tr>
                <th>Right_answer</th>
                <td>{{ question.rightAnswer }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
